:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.active-link {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color-dark) 100%) !important;
    
    mat-icon {
        color: white !important;
    }
    
    span {
        color: white !important;
        font-weight: 600;
    }
}

.bg-primary-gradient {
    background: linear-gradient(135deg, var(--primary-color) 0%, var(--primary-color-dark) 100%) !important;
}